
<ion-view title="iMUST Know">
    <ion-nav-bar>
    <ion-nav-buttons side="primary">
      <a class="button icon ion-home" ng-href="#/app/menu"></a>
    </ion-nav-buttons>
</ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/app/home"><button class="button button-calm button-block ">Log in</button></a>
            <a href="#/register" class="button button-positive button-clear button-block ">Or create an account</a>
        </form>
        <!-- <a href="#/user">User</a> -->
    </ion-content>
</ion-view>
