/* Empty. Add your own CSS if you like */

.logo
{
        height: 2em;
    margin: 0 auto;
    display: block;
    float: none;
}

[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar {
    background: rgb(1, 1, 74) !important;
}

.tabs-striped.tabs-balanced .tabs {
    background-color: #020275 !important;
}

.platform-android .bar .title {
    font-size: 30px !important;
    line-height: 46px;
}
.bar .title.title-left {
    text-align: center !important;
    margin: 0 auto;
    display: block;
    float: none;
}
.bar.bar-balanced .title {
    color: #F17E06 !important;
}



label, input, button, select, textarea {
    font-weight: bold !important;
    font-size: 14px;
    line-height: 1.42857;
}

.button.button-positive.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #F17E06 !important;
}


.b1{
  width: 10px;
  height: 10px;
}

a{
  text-decoration: none;
}


[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: rgba(2, 8, 76, 0.88) !important;
}

.tabs-balanced > .tabs, .tabs.tabs-balanced {
    border-color: #071F4E !important;
    background-color: #071F4E !important;
    background-image: linear-gradient(0deg, #0F3A8C, #071F4E 50%, transparent 50%);
    color: #FFF;
}