/* Empty. Add your own CSS if you like */

.logo
{
	    height: 2em;
    margin: 0 auto;
    display: block;
    float: none;
}


[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar {
    background: rgba(25, 16, 150, 0.78) !important;
}

.bar.bar-stable .title {
    color: #FECA00 !important;
    font-weight: bold;
}
.platform-android .bar .title {
    font-size: 23px !important;
}

.bar-stable .button.button-clear {
    color: #FFF !important;
}

.bar.bar-stable {
    border-color: #b2b2b2;
    background-color: #2F3CCC !important;
    }